<%= provide :title, t("static_pages.help.title") %>
<h1><%= t("static_pages.help.heading") %></h1>
<p>
  <div class="container-fluid">
    <%= link_to t("static_pages.help.go_to_homepage"), home_link %>
  </div>
</p>
